.main {
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    text-shadow: -1px 1px 5px rgb(255, 255, 255);
    color: rgb(1, 66, 66);
}

.name {
    margin: 0.2rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    color: rgb(9, 108, 130);

}

.country {
    margin: 0rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    color: rgb(1, 59, 72);
}

.container {
    margin: 1rem 20rem 0rem 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(47, 70, 90) 0.2rem;
    border-radius: 2rem;
    background-color: rgba(161, 197, 197, 0.575);
}


.container_left {
    font-size: 1.3rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-shadow: -1px 1px 3px white;
    color: rgb(2, 33, 40);
}
.container_left h3{
    margin: 0.6rem;
}

.container_right {
    font-size: 1.3rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-shadow: -1px 1px 3px white;
    color: rgb(2 33 40);
}
.container_right h3{
    margin: 0.6rem;
}

.backHome {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backHome button {
    cursor: pointer;
    color: rgb(5 88 108);
    margin: 0.5rem;
    border: solid rgb(5 88 108) 0.15rem;
    border-radius: 0.6rem;
    width: 8rem;
    height: 2rem;
    background-color: rgb(161, 197, 197);
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.05rem;
    text-shadow: 0px 1px 2px white;
}

.backHome button:hover {
    color: #eaeaea;
    text-shadow: 1px 1px 6px #1a3def;
    box-shadow: 0px 0px 14px 4px #eaeaea;
}

.footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer div {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer p {
    margin: 0%;
    color: #eaeaea;
    text-shadow: -2px 3px 3px rgb(1 66 66);
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.5rem;
  }
  
  .logo {
    height: 1em;
    margin-left: 1.5rem;
  }