.container {
  margin: 0.2rem
}

.main {
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  font-family: 'Gill Sans MT', Calibri, sans-serif;
  text-shadow: -2px 2px 5px rgb(255, 255, 255);
  color: rgb(1, 66, 66);
}



.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer div {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0%;
  color: #eaeaea;
  text-shadow: -2px 3px 3px rgb(1 66 66);
  font-family: 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 1.5rem;
}

.grid {
  display: flex;
  min-height: 60vh;
  flex-wrap: wrap;
  justify-content: center;
}